﻿@using Model
@model Candidat


    <div class="panel panel-default">
        <div class="panel-heading">
            Candidat
            <a href="@Url.Action("Editer", "Candidat",new { id = Model.Id })" style="float:right">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:16px"></span>
            </a>
        </div>
        <div class="panel-body">
                <table class="table-condensed table-borderless" style="width:100%;">
                    <tr>
                        <td><label>Nom :</label>   @Html.DisplayFor(model => model.Nom)</td>
                        <td><label>Prenom :</label>   @Html.DisplayFor(model => model.Prenom)</td>
                    </tr>
                    <tr>
                        <td><label class="glyphicon glyphicon-phone-alt"></label> <label>:</label>  @Html.DisplayFor(model => model.Telephone)</td>
                        <td><label class="glyphicon glyphicon-envelope"></label> <label>:</label>  @Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td><label>Date de Naissance :</label></td>
                        <td>@Html.DisplayFor(model => model.DateDeNaissance)</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top"><label>@Model.Candidatures.Count candidature(s) :</label></td>
                        <td>
                            @{foreach (Candidature c in Model.Candidatures)
                                {
                                    <div><span onclick="location.href = '@(Url.Action("Details", "Candidature",new { id = c.Id }))'" style="cursor:pointer;text-decoration : underline;color:blue">@c.Poste&nbsp;@c.Statuts.First().ModifieLe.ToShortDateString()&nbsp;@c.Statuts.First().NomStatut</span></div>                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><label>Commentaire :</label></td>
                        <td></td>
                    </tr>
                </table>
            <div style="word-wrap: break-word;">
                @(new HtmlString((Model.Commentaire??"").Replace(Environment.NewLine, "<br />")))
            </div>
        </div>
    </div>
