﻿@model Model.Candidat

@{
    ViewBag.Title = "Details";
}
<div class="container body-content" style="margin-top:20px">
    <div class="col-md-5">
        @{Html.RenderPartial("~/Views/Candidat/_details.cshtml", Model);}
        <p>
            @Html.ActionLink("Continuer la création de la candidature", "Créer", "Candidature", new { id = Model.Id }, null)
        </p>
    </div>
    <div class="=col-md-7">

    </div>

</div>