﻿@model Model.Candidat

@{
    ViewBag.Title = "Edit";
}
<div class="container body-content">

    @using (Html.BeginForm("MettreAJour", "Candidat", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Candidat</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.Hidden("returnUrl",ViewBag.returnUrl as string)

            <div class="form-group">
                <div class="col-md-2" style="text-align:right">
                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label" })
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2" style="text-align:right">
                    @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label" })
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2" style="text-align:right">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2" style="text-align:right">
                    @Html.LabelFor(model => model.DateDeNaissance, htmlAttributes: new { @class = "control-label" })
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateDeNaissance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateDeNaissance, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Commentaire, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Commentaire, htmlAttributes: new { @class = "form-control", rows = 7 })
                    @Html.ValidationMessageFor(model => model.Commentaire, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sauvegarder" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Retour aux candidatures", "Index","Candidature")
    </div>
</div>