﻿@using Model

@model List<Candidat>

@{
    ViewBag.Title = "Index";
}
<div class="container body-content">
    <h2>Index</h2>

    <ul>
        @foreach (Candidat candidat in Model)
        {
            <li>
                <a href="Candidat/Details/@(candidat.Id)"> @(candidat.Nom + " " + candidat.Prenom)</a>
            </li>
        }
    </ul>

</div>
