﻿/*body {
}

.marginelement {
    margin: 5%;
}

.paddingelement {
    padding: 5px;
}

.listboxresultats {
    width: 45%;
    margin-right: 5%;
    margin-top: 2%;
    float: right;
}

.divrecherche {
    width: 45%;
    padding: 3%;
    margin-left: 5%;
    float: left;
}


.divrechercheinsertion {
    width: 45%;
    padding: 1%;
    float: left;
}

.divcontenu {
    display:block;
    width: 45%;
    padding: 3%;
    margin-top:5%;
    box-sizing:padding-box;
    clear: left;
    align-content: center;
}

    
}

/* ---- STYLE VUE EnregistrerBDT ---- */*/
