﻿@using Model
@{
    ViewBag.Title = "ComboCandidatureConf";
}


<div class="container" style="margin-top:20px">   
    <div class="panel panel-default">
        <div class="panel-heading">
            Experiences
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <table class="table table-hover table-condensed">
                    @foreach (CandidatureExperience exp in ViewBag.ListeExperience)
                    {
                        <tr>
                            <td class="col-md-10">
                                @exp.Intitule
                            </td>
                            <td class="col-md-2">
                                <a href="/Configuration/SupprimerExperience/@exp.Id"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:12px;color:red"></span></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("AjouterExperience", "Configuration", FormMethod.Post, new { id = "experience" }))
            {
                    <div class="form-group">
                        <div class="col-md-2" style="text-align:right">
                            @Html.Label("Intitulé", htmlAttributes: new { @class = "control-label" })
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input name="Intitule" class="form-control text-box single-line" id="experienceIntitule" type="text" value="">
                        </div>
                        <div class="col-md-2">
                            <a onclick='verifandsave("experience")' class="btn">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:20px"></span>
                            </a>
                        </div>

                    </div>

                }
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Postes
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <table class="table table-hover table-condensed">
                    @foreach (CandidaturePoste exp in ViewBag.ListePoste)
            {
                        <tr>
                            <td class="col-md-10">
                                @exp.Intitule
                            </td>
                            <td class="col-md-2">
                                <a href="/Configuration/SupprimerPoste/@exp.Id"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:12px;color:red"></span></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("AjouterPoste", "Configuration", FormMethod.Post, new { id = "poste" }))
                {
                    <div class="form-group">
                        <div class="col-md-2" style="text-align:right">
                            @Html.Label("Intitulé", htmlAttributes: new { @class = "control-label" })
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input name="Intitule" class="form-control text-box single-line" id="posteIntitule" type="text" value="">
                        </div>
                        <div class="col-md-2">
                            <a onclick='verifandsave("poste")' class="btn">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:20px"></span>
                            </a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Provenances
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <table class="table table-hover table-condensed">
                    @foreach (CandidatureProvenance exp in ViewBag.ListeProvenance)
            {
                        <tr>
                            <td class="col-md-10">
                                @exp.Intitule
                            </td>
                            <td class="col-md-2">
                                <a href="/Configuration/SupprimerProvenance/@exp.Id"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:12px;color:red"></span></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("AjouterProvenance", "Configuration", FormMethod.Post, new { id = "provenance" }))
                {
                    <div class="form-group">
                        <div class="col-md-2" style="text-align:right">
                            @Html.Label("Intitulé", htmlAttributes: new { @class = "control-label" })
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input name="Intitule" class="form-control text-box single-line" id="provenanceIntitule" type="text" value="">
                        </div>
                        <div class="col-md-2">
                            <a onclick='verifandsave("provenance")' class="btn">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:20px"></span>
                            </a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>