﻿
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Configuration</h2>



    <div>@Html.ActionLink("Configuration des templates de mail", "MailTemplateConf")</div>
    <div>@Html.ActionLink("Configuration des listes déroulantes de candidature", "ComboCandidatureConf")</div>
</div>
