﻿@using Model
@model MailTemplate
@{
    ViewBag.Title = "MailTemplateConf";
}
<div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;width:90%">
    <div class="col-md-6" style="margin-top:20px">
        @{Html.RenderPartial("~/Views/Configuration/_créerMailTemplate.cshtml", Model);}
    </div>
    <div class="col-md-6" style="margin-top:20px">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détail et suppression
            </div>
            <div class="panel-body">
                <div style="margin-bottom:15px">
                    @Html.DropDownList("selectmail", ViewBag.SelectListeTemplates as List<SelectListItem>, "Sélectionner un template de mail", new { @class = "form-control" })
                </div>
                @foreach (MailTemplate mail in ViewBag.ListeTemplates)
                {
                    <div id=@("mail"+mail.Id) class="maildiv" style="display:none">
                        <div>
                            <label>Nom :</label>
                            <span>@mail.Nom</span>
                        </div>
                        <div>
                            <label>Objet :</label>
                            <span>@mail.Objet</span>
                        </div>
                        <div style="margin-bottom:15px">
                            <label>Contenu du mail :</label>
                            <div>@(new HtmlString((mail.Corps ?? "").Replace(Environment.NewLine, "<br />")))</div>
                        </div>
                        <a href="/Configuration/SupprimerMailTemplate/@mail.Id"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:12px;color:red"></span>Supprimer le template</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



