﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

.alerts {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 1;
    width: 400px;
}

.AnnonceEditionTxtArea {
    height:150px; 
    min-height:150px;  
    resize:none;
    margin-bottom:15px
}
