﻿@using Model;
@using projet_mdr.ViewModels
@model Annonce


@{
    ViewBag.Title = "Apercu";
}
<div class="container body-content">
    <h2>MenuAnnonce</h2>

    <div style="text-align:center">
        <input type="hidden" value="@Model.Id" name="annonceId" />
        @Html.Label("labelAnnonce", Model.Titre)
    </div>

    <div style="margin-top:10px; text-align:center">
        @Html.Label("bloctexte", "Contenu de l'annonce")
    </div>

    <div style="margin-top:10px;width:80%">

        <div id="blocBDT">
            @for (int i = 0; i < Model.LignesAnnonce.Count(); i++)
            {
                <div style="margin-bottom:15px">
                    @(new HtmlString(Model.LignesAnnonce.ElementAt(i).BlocDeTexte.Texte.ToString().Replace(Environment.NewLine, "<br />")))
                </div>
            }
        </div>

        <div>
            @Html.ActionLink("Publier", "Publier", "Annonces", new { idAnnonce = Model.Id }, null)
            @Html.ActionLink("Retour Accueil", "Index", "Annonces")
        </div>
    </div>


    </div>