﻿@{
    ViewBag.Title = "Creer";
}
<div class="container body-content">
    <div class="container">

        @using (Html.BeginForm("Enregistrer", "Annonces", FormMethod.Post))
        {
            <div class="container">
                <div style="text-align:center;margin-bottom:40px" class="col-md-8">
                    <input type="hidden" value="-1" name="annonceId" />
                    <input type="hidden" value="" id="currentBdt" />
                    <h3> <label>Contenu de l'annonce</label></h3>
                </div>
            </div>

            <div class="container" style="text-align:center;margin-bottom:20px;display:block">
                <label class="col-md-3">Titre de l'annonce</label>
                <div class="col-md-3">
                    @Html.TextBox("titreAnnonce", "", new { @class = "form-control" })
                </div>
            </div>

            <div class="container">
                <div id="blocBDT" style="display:block">
                    <div id="divId1">
                        <input type="hidden" value="-1" id="inputHidden1" name="hiddenId" />
                        <div class="col-md-8">
                            @Html.TextArea("texteBDT", "", new { @class = "form-control AnnonceEditionTxtArea", id = "texte1", placeholder = "Inserer votre texte ici" })
                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Sauvegarder" class="btn btn-default" onclick='EnregistrerBDT(1)' />
                            <input type="button" value="Inserer" class="btn btn-default" onclick="chargerBDT(1)" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="col-md-12" style="margin-bottom:20px">
                    <input type="button" value="+" onclick="AjouterBDT()" class="btn btn-default">
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="submit" value="Enregistrer Annonce" class="btn btn-default" onclick="return confirm('Enregistrer?')" />
                        <input type="button" value="Retour vers Recherche" onclick="window.location.href ='/Annonces'" class="btn btn-default" />
                    </div>

                </div>
            </div>
        }
    </div>


    <div class="modal fade" id="renderInsertionPartial">
        <div class="modal-dialog">
            <div class="modal-content" id="listerContent">
                @{Html.RenderAction("Lister", "BlocDeTexte");}
            </div>
        </div>
    </div>

    <div class="modal fade" id="renderEnregistrerPartial">
        <div class="modal-dialog">
            <div class="modal-content">
                @{Html.RenderAction("Creer", "BlocDeTexte");}
            </div>
        </div>
    </div>

</div>