﻿@using Model;
@using projet_mdr.ViewModels;
@model Annonce

@{
    ViewBag.Title = "Editer";
}
<div class="container body-content">
    <div class="container">
        <h2 style="margin-bottom:50px">Edition de l'annonce</h2>

        @using (Html.BeginForm("Enregistrer", "Annonces", FormMethod.Post))
        {
            <div class="container">
                <div style="text-align:center;margin-bottom:40px" class="col-md-8">
                    <input type="hidden" value="@Model.Id" name="annonceId" />
                    <input type="hidden" value="" id="currentBdt" />
                    <h3> <label>Contenu de l'annonce</label></h3>
                </div>
            </div>
            <div class="container" style="text-align:center;margin-bottom:20px;display:block">
                <label class="col-md-3">Titre de l'annonce</label>
                <div class="col-md-3">
                    @Html.TextBox("titreAnnonce", Model.Titre, new { @class = "form-control" })
                </div>
            </div>

            <div class="container">

                <div id="blocBDT" style="display:block">
                    @for (int i = 1; i <= Model.LignesAnnonce.Count(); i++)
                {
                    BlocDeTexte b = Model.LignesAnnonce.ElementAt(i - 1).BlocDeTexte;

                        <div id=@("divId" + i)>

                            <br />
                            <input type="hidden" value="@b.Id" id=@("inputHidden" + i) name="hiddenId" />
                            <div class="col-md-8">
                                @Html.TextArea("texteBDT", b.Texte, new { @class = "form-control AnnonceEditionTxtArea", id = "texte" + i, placeholder = "Inserer votre texte ici" })
                            </div>
                            <div class="col-md-4">
                                <input type="button" value="Sauvegarder" class="btn btn-default" onclick='EnregistrerBDT(@i)' />
                                <input type="button" value="Inserer" class="btn btn-default" onclick="chargerBDT(@i)" />

                                @*contrôle pour ne pas ajouter de bouton "supprimer" au premier element *@
                                @if (i > 1)
                                {
                                    <input type="button" value="x" class="btn btn-default" id=@("btSupprimer" + i) onclick='SupprimerBDT(@(i))' />
                                }
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="container">
                <div class="col-md-12" style="margin-bottom:20px">
                    <input type="button" value="+" onclick="AjouterBDT()" class="btn btn-default">
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="submit" value="Enregistrer Annonce" class="btn btn-default" onclick="return confirm('Enregistrer?')" />
                        <input type="button" value="Retour vers Recherche" onclick="window.location.href ='/Annonces'" class="btn btn-default" />
                    </div>

                </div>
            </div>
        }
    </div>


    <div class="modal fade" id="renderInsertionPartial">
        <div class="modal-dialog">
            <div class="modal-content" id="listerContent">
                @{Html.RenderAction("Lister", "BlocDeTexte");}
            </div>
        </div>
    </div>

    <div class="modal fade" id="renderEnregistrerPartial">
        <div class="modal-dialog">
            <div class="modal-content">
                @{Html.RenderAction("Creer", "BlocDeTexte");}
            </div>
        </div>
    </div>

</div>