﻿@using Model;
@using projet_mdr.ViewModels

@model AnnoncesVueModele

@{
    ViewBag.Title = "Annonces";
}
<div class="container body-content">
    <div class="container" style="margin-top:20px">

        @using (Html.BeginForm("Index", "Annonces", new { filters = "" }, FormMethod.Get))
        {
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Liste des Annonces</div>
                    <div class="panel-body">@Html.ListBox("resultats", Model.ListeAnnonces, new { style = "width:100%; min-height:260px; background:lightgrey;size:1;border-radius:20" })</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Recherche</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div style="margin-bottom:20px">
                                @Html.Label("selectauteur", "Auteur :")
                                @Html.DropDownList("selectauteur", Model.ListeCreePar, "Selectionner un auteur", new { @class = "form-control" })
                            </div>

                            <div style="margin-bottom:20px">
                                @Html.Label("filters", "Filtrer par :")
                                @Html.TextBox("filters", Request.Params["filters"], new { @class = "form-control" })
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Rechercher" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Actions
                    </div>
                    <div class="panel-body">
                        <input type="button" class="btn btn-default" value="Editer l'annonce selectionnée" onclick="allerVersEdition()" />
                        <input type="button" class="btn btn-default" value="Voir le détail" onclick="allerVersApercu()" />
                        <input type="button" class="btn btn-default" value="Nouvelle annonce" onclick="window.location.href = '/Annonces/Creer'" />
                    </div>
                </div>
            </div>
        }
    </div>
    </div>