﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/style-annonces.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .font-bold {
                font-weight: bold;

        }
        .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
                padding: 1px;
        }
        .table-borderless thead > tr > th, .table-borderless tbody > tr > th, .table-borderless tfoot > tr > th, .table-borderless thead > tr > td, .table-borderless tbody > tr > td, .table-borderless tfoot > tr > td {
             border-top: 0px;
        }

        .hover-visible{
            opacity: 0.3;
        }
        .hover-visible:hover{
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Accueil">Module de Recrutement - Sopra-Steria  <img src="~/Images/ajax-loader.gif" id="ajaxloader" style="visibility:hidden"/></a>

                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Annonces", "Index", "Annonces")</li>
                    <li>@Html.ActionLink("Candidatures", "Index", "Candidature")</li>
                </ul>
            </div>
        </div>
        <div>
            @Html.Partial("_Notifications")
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.tablesorter.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/App.js"></script>
</body>
</html>