﻿@using Model;
@using projet_mdr.ViewModels

@{
    ViewBag.Title = "Creer";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Enregistrer un Bloc Type</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <label>Titre</label>
            <input type="text" name="titrebdt" id="titreBDT" placeholder="Titre" class="form-control" />
        </div>
        <div class="col-md-6">
            <label>Type de bloc de texte</label><a onclick="addBdtType()" class="pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:16px"></span></a>
                @Html.DropDownList("typeselect", ViewBag.ListeType as List<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-12">
            <label>Contenu</label>
            <textarea id="texteBDT" name="nouveautextebdt" class="form-control" style="width:100%;height:150px;resize:none;margin-bottom:15px"></textarea>

            <div class="text-center">
                <input type="button" value="Enregistrer" onclick="SauvegarderBDT()" data-dismiss="modal" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>

