﻿@using Model
@using projet_mdr.ViewModels
@model InsertionBDTVueModele

@{
    ViewBag.Title = "InsertionBDT";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal">&times;</button>    
        <h3>Inserer un Bloc Type</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <div style="margin-bottom:20px">
                @Html.Label("type", "Type de texte")
                <span>@Html.DropDownList("selectedType", Model.ListeTypeBDT, new { @class = "form-control" })</span>
            </div>
            <div style="margin-bottom:20px">
                @Html.Label("filtre", "Recherche par")
                @Html.TextBox("filtre", Model.filtre, new { @class = "form-control" })
            </div>
            <div class="text-center">
                <input type="button" value="Rechercher" onclick="updatePartialView()" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-6">
            @Html.Label("resultats", "Liste de résultats : ")
            @Html.ListBox("listeBDT", Model.ListeBDT, new { style = "width:250px; height:150px; background:lightgrey",onchange="getBDTTxt()" })
        </div>
    </div>
    <div class="panel-footer">
        <label>Apercu</label>
        <div id="ContenuBDT" style="margin-bottom:15px">
        </div>
        <div class="text-center">
            <input type="button" onclick="insererBDT()" value="Inserer le texte" data-dismiss="modal" class="btn btn-default" />
            <input type="button" onclick="archiverBdt()" value="Archiver le bloc" class="btn btn-default"/>
        </div>
    </div>
</div>





