﻿@model Model.Candidature

@{
    ViewBag.Title = "_créer";
}

@using (Html.BeginForm("Enregistrer","Candidature",FormMethod.Post, new { id = "créer" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>
            Candidature
            <a onclick="document.getElementById('créer').submit();" class="btn">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" style="font-size:20px"></span>
            </a>
        </h4>
        @Html.Hidden("Idcandidat",ViewBag.Idcandidat as string)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Provenance, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("Provenance", ViewBag.ListeProvenance as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Provenance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cooptant, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Cooptant, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.Cooptant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4" >Ref. Annonce</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ReferenceAnnonce, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.ReferenceAnnonce, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Poste, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("Poste", ViewBag.ListePoste as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Poste, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("Experience", ViewBag.ListeExperience as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Techno, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Techno, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.Techno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commentaire, htmlAttributes: new { @class = "control-label" })
            <div>
                <textarea class="form-control input-sm" name="Commentaire" rows="10"></textarea>
                @Html.ValidationMessageFor(model => model.Commentaire, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
