﻿@model Model.Candidature


<div style="margin-bottom:50px">
    @using (Html.BeginForm("UploadCV", "Candidature", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <div class="col-md-3">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#uploadcv">Enregistrer un CV</button>
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        </div>
        <div class="collapse col-md-9" id="uploadcv">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Parcourir&hellip; <input name="file" type="file" style="display: none;">
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
                <label class="input-group-btn">
                    <input class="btn btn-primary" type="submit" value="Enregistrer" />
                </label>
            </div>
        </div>

        <input type="hidden" name="idcandidat" value=@Model.Candidat.Id />
                @*<input type="hidden" name="modifiepar" value=username />*@
    }
</div>
<div>
    @if (!String.IsNullOrWhiteSpace(Model.Candidat.CV))
    {
        <iframe src=@("/" + Model.Candidat.CV) style="overflow:hidden;height:80vh;width:100%"></iframe>
    }
</div>
