﻿@model Model.Candidature

@{
    ViewBag.Title = "_details";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Candidature
        <div style="float:right">
            <span id="favIcon" class="@((Model.FlagImportance) ? "glyphicon glyphicon-star" : "glyphicon glyphicon-star-empty hover-visible")" style="font-size:16px;color:orange;cursor:default;margin-right:5px" onclick="toggleImportance(@Model.Id)"></span>
            <a href="@Url.Action("Editer", "Candidature",new { id = Model.Id })" >
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:16px"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Provenance)</dt>
            <dd>@Html.DisplayFor(model => model.Provenance)</dd>

            <dt>@Html.DisplayNameFor(model => model.Cooptant)</dt>
            <dd>@Html.DisplayFor(model => model.Cooptant)</dd>

            <dt>@Html.DisplayNameFor(model => model.Poste)</dt>
            <dd>@Html.DisplayFor(model => model.Poste)</dd>

            <dt>@Html.DisplayNameFor(model => model.Experience)</dt>
            <dd>@Html.DisplayFor(model => model.Experience)</dd>

            <dt>@Html.DisplayNameFor(model => model.Techno)</dt>
            <dd>@Html.DisplayFor(model => model.Techno)</dd>

            <dt>@Html.DisplayNameFor(model => model.ReferenceAnnonce)</dt>
            <dd>@Html.DisplayFor(model => model.ReferenceAnnonce)</dd>

            <dt>@Html.DisplayNameFor(model => model.Commentaire)</dt>
            <dd></dd>
        </dl>
        <div style="word-wrap: break-word;">
            @(new HtmlString((Model.Commentaire ?? "").Replace(Environment.NewLine, "<br />")))
        </div>
    </div>
</div>

