﻿@using Model
@model Candidat
@{
    ViewBag.Title = "Créer";
    ViewBag.Idcandidat = Model.Id;
}
<div class="container body-content" style="margin-top:20px">
    <div class="col-md-5">
        @{Html.RenderPartial("~/Views/Candidat/_details.cshtml", Model);}

        @{Html.RenderPartial("~/Views/Candidature/_créer.cshtml", new Candidature());}
    </div>
    <div class="col-md-7" style="margin-top:20px">
        <div style="margin-bottom:50px">
            @using (Html.BeginForm("UploadCV", "Candidature", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-md-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#uploadcv">Enregistrer un CV</button>
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                </div>
                <div class="collapse col-md-9" id="uploadcv">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Parcourir&hellip; <input name="file" type="file" style="display: none;">
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                        <label class="input-group-btn">
                            <input class="btn btn-primary" type="submit" value="Enregistrer" />
                        </label>
                    </div>
                </div>

                <input type="hidden" name="idcandidat" value=@Model.Id />
                @*<input type="hidden" name="modifiepar" value=username />*@
            }
        </div>
        <div>
            @if (!String.IsNullOrWhiteSpace(Model.CV))
            {
                <iframe src=@("/" + Model.CV) style="overflow:hidden;height:600px;width:100%"></iframe>
            }
        </div>
    </div>
</div>