﻿@using Model
@using Extensions
@model Candidature


@{
    ViewBag.Title = "Editer";
    ViewBag.Idcandidat = Model.Candidat.Id;
}
<div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;width:90%">
    <div class="col-md-5" style="margin-top:20px;margin-bottom:40px">
        <div style="margin-bottom:80px;display:block">
            <div class="col-md-6" style="text-align:center">
                <div>Navigation</div>
                <div>
                    <a href="@Url.Action("Index", "Candidature")" class="btn" data-toggle="tooltip" data-placement="bottom" title="Retourner à la liste">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size:20px"></span>
                    </a>
                    <a href="@Url.Action("EnvoiMail", "Candidature",new { ids = Model.Id })" class="btn" data-toggle="tooltip" data-placement="bottom" title="Envoyer un Mail">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size:20px"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6" style="text-align:center">
                <div>Validation</div>
                @Html.BoutonsStatut(Model.Statuts.Last().NomStatut, Model.Id.ToString())
            </div>
        </div>
        <div>
            @{Html.RenderPartial("~/Views/Candidat/_details.cshtml", Model.Candidat);}

            @{Html.RenderPartial("~/Views/Candidature/_éditer.cshtml", Model);}
        </div>
    </div>
    <div class="col-md-7" style="margin-top:20px">
        @{Html.RenderPartial("~/Views/Candidature/_CV.cshtml", Model);}
    </div>
</div>