﻿@using Model
@model List<Candidature>

<div>

    <div class="panel container" style="margin-top:20px;margin-bottom:40px">

        <div class="col-md-4">
            @Html.DropDownList("selectmail",ViewBag.SelectListeTemplates as List<SelectListItem>,"Sélectionner un template de mail", new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            <input type="button" class="btn" value="Générer le mail" onclick="generermails()" />
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="container">
        <div class="col-md-7">
            <table class="table table-hover table-condensed" style="vertical-align:central;	table-layout: fixed" id="listeCandidature">


                <tr>
                    <th style="width:15px"><input id="globalcheck" type="checkbox" onchange="changeCheck()" /></th>
                    <th style="width:60px">Email</th>
                    <th style="width:60px">Candidat</th>
                    <th style="width:30px">Création</th>
                    <th style="width:25px">Statut</th>
                </tr>
                @{
                    foreach (Candidature c in Model)
                    {
                        <tr>
                            <td> <input id=@("Checkbox"+c.Candidat.Id) type="checkbox" class="checkBox" value="@c.Candidat.Email" /> </td>
                            <td> @c.Candidat.Email</td>
                            <td> @c.Candidat.Nom  @c.Candidat.Prenom </td>
                            <td> @c.Statuts.FirstOrDefault().ModifieLe.ToShortDateString() </td>
                            <td> @c.Statuts.LastOrDefault().NomStatut </td>
                        </tr>
                    }
                }

            </table>
        </div>


        <div class="col-md-5">
            @foreach(MailTemplate mail in ViewBag.ListeTemplates)
            {
                <div id=@("mail"+mail.Id) class="maildiv" style="display:none">
                    <div>
                        <label>Objet :</label>
                        <span id=@("MailSubject"+mail.Id)>@mail.Objet</span>
                    </div>
                    <div>
                        <label>Contenu du mail :</label>
                        <div id=@("MailBody"+mail.Id)>@(new HtmlString((mail.Corps ?? "").Replace(Environment.NewLine, "<br />")))</div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>


