﻿@using Model

@model IEnumerable<Candidature>

@{
    ViewBag.Title = "Index";
}
<div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;width:90%">
    <div style="margin-top:20px;display:block;margin-bottom:20px;text-align:center;overflow:auto;">
        <div class="col-md-2">
            <input type="button" class="btn btn-primary" value="Nouvelle candidature" onclick='location.href="/Candidat/Créer"' />
        </div>
        <div class="col-md-7" >
            <div>
                <div class="col-md-8" style="text-align:right">
                    <div class="col-md-8">
                        @Html.DropDownList("Select1", ViewBag.ActionList as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <a class="btn pull-left" data-toggle="tooltip" data-placement="bottom" title="Appliquer l'action aux éléments sélectionnés" id="Valider">
                            <span class="glyphicon glyphicon-play" aria-hidden="true" style="font-size:16px"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a onclick="allerversrevue()" class="btn" data-toggle="tooltip" data-placement="bottom" title="Revue multiple">
                        <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size:16px"></span>
                    </a>
                    <a onclick="allerversmail()" class="btn" data-toggle="tooltip" data-placement="bottom" title="Envoyer un Mail">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size:16px"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Configuration", "Index", "Configuration",null,new {@class="pull-right"})
        </div>
    </div>
    <div class="panel panel-default" style="margin-top:20px">

        
        <div class="panel-body">
            <div class="col-md-2">
                <ul>
                    @foreach (SelectListItem statut in ViewBag.listeStatuts)
                {
                        <li class="font-bold" onclick='FiltrerCandidatures("@(statut.Text)")'>
                            @statut.Text   (@statut.Value)
                        </li>
                }
                </ul>

            </div>
            <div class="col-md-7">

                <table class="table table-hover table-condensed tablesorter" style="vertical-align:central;	table-layout: fixed" id="listeCandidature">

                    <thead>
                        <tr>
                            <th style="width:15px"><input id="globalcheck" type="checkbox" onchange="changeCheck()"/> </th>
                            <th style="width:60px">Poste</th>
                            <th style="width:60px">Candidat</th>
                            <th style="width:30px">Création</th>
                            <th style="width:25px">Statut</th>
                            <th style="width:15px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                        foreach (Candidature c in Model)
                        {
                                <tr name="ligne" style="font-weight:@(c.Lu ? "normal" : "bold")">
                                    <td> <input id=@("Checkbox"+c.Candidat.Id) type="checkbox" class="checkBox" value="@c.Id" /> </td>
                                    <td ondblclick="location.href = '@(Url.Action("Details", "Candidature", new { id = c.Id }))'"> @c.Poste</td>
                                    <td ondblclick="location.href = '@(Url.Action("Details", "Candidature", new { id = c.Id }))'"> @c.Candidat.Nom  @c.Candidat.Prenom </td>
                                    <td ondblclick="location.href = '@(Url.Action("Details", "Candidature", new { id = c.Id }))'"> @c.Statuts.FirstOrDefault().ModifieLe.ToShortDateString() </td>
                                    <td ondblclick="location.href = '@(Url.Action("Details", "Candidature", new { id = c.Id }))'"> @c.Statuts.LastOrDefault().NomStatut </td>
                                    <td><span id="favIcon" class="@((c.FlagImportance) ? "glyphicon glyphicon-star" : "glyphicon glyphicon-star-empty hover-visible")" style="width:12px;height:12px;color:orange;cursor:default" name="favIcon" onclick="toggleImportance(@c.Id)" /></td>
                                </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>


            <div class="col-md-3">
                <div style="margin-bottom:20px">
                    <label class="control-label" for="quickSearch">Recherche rapide</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="quickSearch" />
                        <label class="input-group-btn" onclick="quickSearch()" data-toggle="tooltip" data-placement="bottom" title="Rechercher">
                            <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                        </label>
                    </div>
                </div>
                <div style="margin-bottom:20px">
                    <label class="control-label" data-toggle="collapse" data-target="#rechercheAvancee">Recherche Avancée <span class="glyphicon glyphicon-chevron-down" style="font-size:12px"></span></label>
                </div>
                <div class="form-horizontal collapse" id="rechercheAvancee">
                    @using (Html.BeginForm("Index", "Candidature", FormMethod.Get))
            {
                        <div class="form-group">
                            @Html.Label("Nom", "Nom", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("nom", "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Prenom", "Prenom", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("prenom", "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Poste", "Poste", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("poste", ViewBag.ListePoste as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Techno", "Technologies", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("techno", "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Experience", "Expérience", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("experience", ViewBag.ListeExperience as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Provenance", "Provenance", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("provenance", ViewBag.ListeProvenance as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("RefAnnonce", "Réf. Annonce", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("refAnnonce", "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Inclure archives?", "Inclure archives?", htmlAttributes: new { @class = "control-label col-md-8" })
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <input type="checkbox" value="avec" name="archive">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Rechercher" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>